@charset "utf-8";

body {
    font-family: "Maven Pro", "Noto Sans KR", sans-serif;
    font-size: 14px;
    color: #000;
    background: url("../images/bg.png"); /* 한번에 배경관련 속성을 나열 */
}

.d-none {
    display: none
}

ul, ol {
    list-style-type: none;
}

a, a:link {
    color: inherit; /* 부모요소로 부터 상속받은 색상 */
    text-decoration: none;
}

/* 이벤트 배너 */
.event {
    position: absolute;
    right: 5%;
    top: 15%;
}

/* =================== 헤더영역 ====================== */
.header-wrap {
    max-width: 1190px; /* 화면폭이 1190 이하면, 100% */
    margin: 0 auto;    
    padding: 50px 0;
    display:flow-root;
}

.main-logo {
    float:left;
}
.main-nav {
    float: left;
    margin-left: 50px;
}
.main-nav ul {
    border-left: 1px solid #000;
}
.main-nav ul li {
    margin-bottom: 10px;
}
.main-nav ul li a {
    font-size: 18px;
    font-weight: 500;
    color: #666;
    padding: 0 0 0 20px;
}
.sns-links {
    float: right;
}
.sns-links li {
    float: left;
}
.sns-links li:nth-child(2) {
    margin:0 10px
}
.sns-links img {
    opacity: 30%;
    transition: all .4s cubic-bezier(.59,.42,.05,.74);
}
.sns-links img:hover {
    opacity: 100%;
}


/* =================== visual 영역 ===================== */
.hero-img {
    background-image: url("../images/visual_bg.jpg");   /* 배경-이미지: 경로() */
    background-repeat: no-repeat;   /* 배경-반복: 반복-안함 */
    background-position: center;    /* 배경-위치: 중앙(수평/수직) */    
    background-size: cover;         /* 배경-크기: 빈공간을 메울수 있도록 이미지를 확장 */
}/* background: url("../images/visual_bg.jpg") no-repeat center / cover; */

.main-item {
    max-width: 1190px;
    height: 400px;    
    margin: 0 auto;
    position: relative
}
.main-item img {
    position: absolute;
    right: 0;
    bottom: -65px
}